@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zc4kap');
  src:  url('fonts/icomoon.eot?zc4kap#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zc4kap') format('truetype'),
    url('fonts/icomoon.woff?zc4kap') format('woff'),
    url('fonts/icomoon.svg?zc4kap#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e900";
}
.icon-home2:before {
  content: "\e901";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-image:before {
  content: "\e90d";
}
.icon-feed:before {
  content: "\e918";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-map:before {
  content: "\e94b";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-key2:before {
  content: "\e98e";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-font-size:before {
  content: "\ea61";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-file-pdf:before {
  content: "\eadf";
}
